SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=INSTANTSERVICE_DB
SNOWFLAKE_SCHEMA=PUBLIC

FRONTEND_ORIGIN=http://localhost:3000
DEMO_MODE=true